<!DOCTYPE html>
<html lang="en">

<head>
    <title>RegEx101</title>
</head>

<body style="background-color:powderblue;">
    <style> div {text-align: center;} </style>
<div>
    <h1 style="background-color:dodgerblue;">Regular Expression <sub> <i>101</i> </sub></h1>
    <br><br>

    <form action = "" method="post">
        
        <label><b><h3> Regex : </h3></b></label>
        <textarea name="reg_exp" placeholder="Enter Regex"></textarea>
        <br><br>
        <label><b><h3> String : </h3></b></label>
        <textarea name="txt" placeholder="Enter String"></textarea>
        <br><br>
        <button> Submit </button>
    
    </form>

    
    {% if count>0 %}
    <h2> Total Matches = {{count}} </h2>
    <h2> Matches: </h2>
    {% for match in matches %}
        {{match}}<br>
    {% endfor %}
    {% elif count == -1 %}
    {% else %}
    <h2> No Match Found!!! </h2>
    {% endif %}
</div>
    
</body>
</html>